<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ContactPoint",
  "contactType": "customer support",
  "telephone": "+1-555-555-5555",
  "areaServed": "US",
  "availableLanguage": ["English"],
  "sameAs": "https://www.mobiusintegration.com"
}
</script>
